div {
    border: 0 solid black;
}

#header {
    text-align: right;
}

#content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#recipe-picker {
    margin-bottom: 50px;
}

label {
    display: block;
}

.checkbox-container .label {
    width: 100%;
    margin-bottom: 10px;
}

.checkbox-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.checkbox-label {
    display: inline;
    padding-right: 20px;
}

.tag-container {
    white-space: nowrap;
    width: 130px;
}

#recipe-form input, #recipe-form textarea, #recipe-form select {
    width: 300px;
}

#recipe-form input[type="checkbox"] {
    width: auto;
}

#recipe-form textarea {
    height: 200px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 700px;
    margin: auto;
}

#recipe-form .flex-container {
    min-height: 400px;
}

.flex-container > p {
    margin-right: 20px;
}